<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-rocketmq-provider:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_rocketmq_provider_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springboot-rocketmq-provider/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-rocketmq-provider" />
        </element>
      </element>
    </root>
  </artifact>
</component>